{% extends "base.html.jinja" %}
{% block content %}

<p class="mb-0 fw-bold fs-1">O AUTORZE</p>
<div class="hl m-4"></div>

    <p class="mb-0 fs-5">Imię i nazwisko: <b>Wojciech Bartoszek</b></p>
    <p class="mb-0 fs-5">Uczelnia: <b>Uniwersytet Ekonomiczny w Krakowie</b></p>
    <p class="mb-0 fs-5">Kierunek: <b>Informatyka Stosowana</b></p>
    <p class="mb-0 fs-5">Grupa Dziekańska: <b>ZZISS1-1211</b></p>
    <p class="mb-0 fs-5">Znak zodiaku: <b>Koziorożec</b></p>

{% endblock %}



